/* Basislayout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    padding: 0;
    background-color: #111;
    font: Verdana, Arial, Sans-Serif;
}

main {
    margin: auto;
    width: auto;
    position: relative;
}

header{
    height: 200px;
    background-image: url("afbeeldingen/headerpic_hockey.jpg");
    font-family: sans-serif;
}

nav{
    height: 46px;
    text-align: center;
}

aside{
    height: 1000px;
    width: 30%;
    background-color: rgb(200,255,0);
    float: left;
    padding: 0px 5px 0px 0px;
    margin: 10px;
}

article{
    height: 1000px;
    background-color: #333;
    padding-left: 5px;
    margin: 10px;
    color: white;
}

footer{
    height: 50px;
    background-color: #333;
    width: 100%;
    text-align: right;
}

/* Specifieke stijlen */

header.title{
    text-align: center;
    font-size: 25px;
}

aside, article {
    font-size: 30px;
    overflow: auto;
}

.copyright {
    color: whitesmoke;
    float: left;
    padding-top: 15px;
    padding-left: 5px;
}

.smalltext {
    font-size: 20px;
}

article#index-article {
    height: 300px
}

/* Contact Button */

.knopje {
    background-color: #333;
    border: none;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}

.knopje:hover {
    cursor: pointer;
    background-color: #111;
    color: whitesmoke;
}

/* Navigatiebalk */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111
}

.active_page {
    background-color: #8793d4;
}

.active_page:hover {
    background-color: #5c6ed1;
}

/* social media icons */

.socialmedia_icons {
    text-align: center;
}

.SMicon {
    color: whitesmoke;
    font-size: 50px;
    margin: 50px;
}

.SMicon:hover {
    opacity: 0.7;
}

.icons {
    padding-top: 30px;
    padding-bottom: 30px;
}