/* Basislayout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    padding: 0;
    background-color: #111;
    font: Sans-Serif;
}

main {
    margin: auto;
    width: auto;
    position: relative;
}

header{
    height: 200px;
    background-image: url("afbeeldingen/hockeyheader2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px -210px; 
    font-family: sans-serif;
}

nav{
    height: 46px;
    text-align: center;
}

aside{
    width: 20%;
    background-color: #333;
    float: left;
    padding: 0px 5px 0px 0px;
    margin: 10px;
    color: whitesmoke;
}

article{
    background-color: #333;
    padding-left: 5px;
    margin: 10px;
    color: whitesmoke;
}

footer{
    height: 50px;
    background-color: #333;
    width: 100%;
    text-align: right;
}

/* Specifieke stijlen */

header.title{
    text-align: center;
    font-size: 40px;
    color: white;
}

aside, article {
    font-size: 20px;
    overflow: hidden;
    height: auto;
}

.copyright {
    color: whitesmoke;
    float: left;
    padding-top: 15px;
    padding-left: 5px;
}

.smalltext {
    font-size: 20px;
}

.bigtext {
    font-size: 50px;
}

article#index-article {
    height: 350px;
}

.floatright {
    float: right;
    width: 300px;
    margin: 5px;
}

.floatleft {
    float: left;
    width: 20%;
    margin: 5px;
    clear: both;
}

.gevaarlijk-spel {
    list-style-type: disc;
}

.inhoud-spelregels {
    color: white;
}

.inhoud-spelregels:hover {
    opacity: 0.8;
}

.inhoud-veld {
    color: white;
}

.inhoud-veld:hover {
    opacity: 0.8;
}

.h2-article {
    font-size: 50px;
}

.h4-article {
    font-size: 20px;
}

.h3-article {
    font-size: 30px;
}

.p-weetje {
    font-size: 30px;
}

.h2-weetje {
    font-size: 50px;
}

.groen {
    color: green;
}

.geel {
    color: yellow;
}

.rood {
    color: red;
}

.weetje {
    border: 5px double red;
    border-radius: 5px;
}

.whitetext {
    color: white;
}

.whitetext:hover {
    opacity: 0.8;
}

/* Contact Button */

.knopje {
    background-color: #333;
    border: none;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}

.knopje:hover {
    cursor: pointer;
    background-color: #111;
    color: whitesmoke;
}

/* Navigatiebalk */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111
}

.active_page {
    background-color: #8793d4;
}

.active_page:hover {
    background-color: #5c6ed1;
}

/* social media icons */

.socialmedia_icons {
    text-align: center;
}

.SMicon {
    color: whitesmoke;
    font-size: 50px;
    margin: 50px;
}

.SMicon:hover {
    opacity: 0.7;
}

.icons {
    padding-top: 30px;
    padding-bottom: 30px;
}